<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boat login</title>
</head>
<body>


<form class="container"  action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <h1>登录</h1>
    <div>
        <label>用户：</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>密码：</label>
        <input type="password" th:field="*{password}">
    </div>
    <div>
        <button type="submit">登录</button>
        <button type="reset">重置</button>
    </div>
</form>


</body>

</html>